body {
  background: #e9efff;
  font-family: "Climate Crisis", cursive;
  font-family: "Poppins", sans-serif;
}

.search-bar {
  background: rgba(255, 255, 255, 0.5);
  max-width: 680px;
  height: 75px;
  border-radius: 60px;
  margin: 50px auto;
}

.today-weater {
  background: linear-gradient(128.98deg, #b2e8ff 25.2%, #cfc5f7 93.14%);
  box-shadow: 8px 6px 30px -4px rgba(0, 0, 0, 0.13);
  border-radius: 60px;
  max-width: 680px;
  height: 400px;
  margin: 35px auto;
}

.ari-quali {
  background: rgba(255, 255, 255, 0.5);
  max-width: 680px;
  height: 220px;
  border-radius: 60px;
  margin: 70px auto;
}

.forcast {
  max-width: 680px;
  margin: 65px auto;
}

.this-day {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 60px;
  max-width: 150px;
  height: 290px;
  text-align: center;
  padding-top: 20px;
  margin: auto;
}

.prediction {
  background: linear-gradient(128.98deg, #b2e8ff 25.2%, #cfc5f7 93.14%);
  border-radius: 60px;
  max-width: 150px;
  height: 290px;
  text-align: center;
  padding-top: 20px;
  margin: auto;
}

.day-two {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 60px;
  max-width: 150px;
  height: 290px;
  text-align: center;
  padding-top: 20px;
  margin: auto;
}

.day-three {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 60px;
  max-width: 150px;
  height: 290px;
  text-align: center;
  padding-top: 20px;
  margin: auto;
}
